{% extends "attendance/base.html" %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">勤怠表</h1>
    </div>
    <div class="card-body">
      <div class="attendance-filter-body">
        <h5 class="card-title">条件：</h5>
      <form action="" method="get">
        {% csrf_token %}
          <p class="form-floating">
            <select class="form-select" name="keyword">
              <option selected="">氏名を選んでください</option>
              {% for user in users %}
                <option value="{{ user.id }}">{{ user }}</option>
                {% endfor %}
            </select>
            <label for="id_in_out">氏名：</label>
        </p>
        <div>
          <input type="submit" class="btn back-button" value="絞り込み検索" name="search">
          <input type="button" class="btn btn-secondary" value="絞り込みを外す" onClick="location.href='../lists'">
        </div>
      </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              氏名
            </th>
            <th scope="col">
              勤務地
            </th>
            <th scope="col">
              勤務状況
            </th>
            <th scope="col">
              打刻日
            </th>
            <th scope="col">
              打刻時間
            </th>
            <th scope="col">
              備考欄
            </th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendances %}
          {% if attendance.in_out == 0 %}
            <tr class="table-success">
          {% elif attendance.in_out == 1 %}
            <tr class="table-danger">
          {% elif attendance.in_out == 2 %}
            <tr class="table-primary">
          {% elif attendance.in_out == 3 %}
            <tr class="table-warning">
          {% endif %}
            <td>{{ attendance.employee }}</td>
            <td>
              {% if attendance.place == 0 %}
                オフィス
              {% elif attendance.place == 1 %}
                自宅
              {% elif attendance.place == 2 %}
                コワーキングスペース
              {% elif attendance.place == 3 %}
                出張先
              {% else %}
                その他
              {% endif %}
            </td>
            <td>
              {% if attendance.in_out == 0 %}
                出勤
              {% elif attendance.in_out == 1 %}
                退勤
              {% elif attendance.in_out == 2 %}
                休憩 始
              {% elif attendance.in_out == 3 %}
                休憩 終
              {% endif %}
            </td>
            <td>{{ attendance.date }}</td>
            <td>{{ attendance.time }}</td>
            <td>
              {% if attendance.remarks %}
                {{ attendance.remarks }}
              {% else %}
                備考欄なし
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
{% endblock %}