{% extends "attendance/base.html" %}
{% block content %}
<div class="container">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse show" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="/lists">管理表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../accounts/logout">ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">勤怠表</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">条件：</h5>
      <form action="" method="get">
        {% csrf_token %}
        <div class="row" >
          <p class="form-floating col">
            <select class="form-select" name="date_keyword">
              <option value=""selected="">日付を選んでください</option>
              {% for day in days_list %}
                <option value="{{ day }}">{{ day }}</option>
              {% endfor %}
            </select>
            <label for="">日付：</label>
          </p>
          <p class="form-floating col">
            <select class="form-select" name="user_keyword">
              <option value=""selected="">氏名を選んでください</option>
              {% for user in users %}
                <option value="{{ user.id }}">{{ user }}</option>
              {% endfor %}
            </select>
            <label for="">氏名：</label>
          </p>
        </div>
        <div class="sort-button">
          <input type="submit" class="btn back-button" value="絞り込み検索" name="search">
          <input type="button" class="btn btn-secondary" value="絞り込みを外す" onClick="location.href='../lists'">
        </div>
      </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              氏名
            </th>
            <th scope="col">
              勤務地
            </th>
            <th scope="col">
              勤務状況
            </th>
            <th scope="col">
              打刻日
            </th>
            <th scope="col">
              打刻時間
            </th>
            <th scope="col">
              備考欄
            </th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendances %}
          {% if attendance.in_out == 0 %}
            <tr class="table-success">
          {% elif attendance.in_out == 1 %}
            <tr class="table-danger">
          {% elif attendance.in_out == 2 %}
            <tr class="table-primary">
          {% elif attendance.in_out == 3 %}
            <tr class="table-warning">
          {% endif %}
            <td>{{ attendance.employee }}</td>
            <td>
              {% if attendance.place == 0 %}
                オフィス
              {% elif attendance.place == 1 %}
                自宅
              {% elif attendance.place == 2 %}
                コワーキングスペース
              {% elif attendance.place == 3 %}
                出張先
              {% else %}
                その他
              {% endif %}
            </td>
            <td>
              {% if attendance.in_out == 0 %}
                出勤
              {% elif attendance.in_out == 1 %}
                退勤
              {% elif attendance.in_out == 2 %}
                休憩 始
              {% elif attendance.in_out == 3 %}
                休憩 終
              {% endif %}
            </td>
            <td>{{ attendance.date }}</td>
            <td>{{ attendance.time }}</td>
            <td>
              {% if attendance.remarks %}
                {{ attendance.remarks|linebreaksbr }}
              {% else %}
                備考欄なし
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <a href="../accounts/logout" class="btnbtn btn-secondary btn-lg disabled" style="text-decoration: none;">
        ログアウト
    </a>
    </div>
  </div>
</div>
{% endblock %}