/* color-code */
/* 
C2FAF1
F6F6F6
DFEFF0
295E6A
 */
body {
  background-color: #DFEFF0;
  margin-top: 5rem;
}

.card-body {
  background-color: #F6F6F6;
}

.card-header, .card-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2FAF1;
  min-height: 5rem;
}

.left-column {
  margin: auto;
}

.right-column {
  margin: 0 auto;
}

.container {
  padding: 0;
  border: rgb(214, 214, 214) solid 4px;
  border-radius: 10px;
}